<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon" />
    <link rel="icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <title>iSuite Dashboard | PSD-Sanger</title>
    <style>
      .body-bg {
        background-color: #9921e8;
        background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
      }
      .application-label {
        display: inline-block;
        width: 1.4em;
        font-size: 0.9em;
        font-weight: bold;
      }
      .circle {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        border: 1px solid #333;
      }
      .status-success {
        color: var(--bs-success);
      }
      .status-failed {
        color: var(--bs-danger);
      }
      .status-in-progress {
        color: var(--bs-warning);
      }
      .status-canceled {
        color: var(--bs-gray);
      }
      .status-running {
        color: var(--bs-info);
      }
    </style>
  </head>
  <body class="body-bg container-xl p-4">
    <main class="bg-white p-8 rounded-4 shadow-lg">
      <div class="container p-4">
        <h1>Integration Suite Runs</h1>
        {% if flaky_tests %}
          <div class="row">
            <div class="alert alert-warning" role="alert">
              Flaky tests detected, please check the summaries below for more details.
            </div>
          </div>
        {% endif %}
        <form id="filters" action="{{ url_for("index") }}" method="get">
          <div class="d-flex flex-wrap justify-content-end align-items-center mb-2">
            <div class="form-floating mt-2 ms-2">
              <select name="first" id="first" class="form-select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20" selected>20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <label for="first">Number</label>
            </div>
            <div class="form-floating mt-2 ms-2">
              <select name="source" id="source" class="form-select">
                <option value="all">All</option>
                <option value="schedule">Schedule</option>
                <option value="web">Web</option>
              </select>
              <label for="source">Source</label>
            </div>
            <div class="form-floating mt-2 ms-2">
              <select name="status" id="status" class="form-select">
                <option value="all">All</option>
                <option value="success">Success</option>
                <option value="failed">Failed</option>
                <option value="running">Running</option>
                <option value="canceled">Canceled</option>
              </select>
              <label for="status">Status</label>
            </div>
            <button type="submit" class="btn btn-outline-primary mt-2 ms-2">Filter</button>
          </div>
        </form>
        {% for pipeline in pipelines %}
          <div class="card mt-3">
            <div class="card-header">
              <div class="row">
                <span class="col-12">
                  {{ pipeline.createdAt | replace('T', ' ') | truncate(16, True, '') }}
                  <a href="https://gitlab.internal.sanger.ac.uk/psd/integration-suite/-/pipelines/{{ pipeline.id }}"
                     class="underline ms-3">{{ pipeline.id }}</a>
                  <span class="status-{{ pipeline.status | lower }} float-end">
                    <strong>{{ pipeline.overall_status | title }}</strong>
                  </span>
                </span>
              </div>
              <div class="row">
                <span class="col-12 col-lg-3 offset-lg-1">
                  <span class="circle me-1"
                        style="background-color: #{{ pipeline.commit_abbr }}"></span>
                  <span class="application-label" title="Integration Suite">IS</span>
                  <code>{{ pipeline.ref }}@{{ pipeline.commit_abbr }}</code>
                </span>
                <span class="col-12 col-lg-4">
                  <span class="circle me-1"
                        style="background-color: #{{ pipeline.versions.sequencescape_version[-6:] }}"></span>
                  <span class="application-label" title="Sequencescape">SS</span>
                  <code>{{ pipeline.versions.sequencescape_version }}</code>
                </span>
                <span class="col-12 col-lg-4">
                  <span class="circle me-1"
                        style="background-color: #{{ pipeline.versions.limber_version[-6:] }}"></span>
                  <span class="application-label" title="Limber">LB</span>
                  <code>{{ pipeline.versions.limber_version }}</code>
                </span>
              </div>
            </div>
            {% if pipeline.failed_tests %}
              <ul class='list-group list-group-flush'>
                {% for failed_test in  pipeline.failed_tests %}
                  <li class='list-group-item py-1 small'>
                    {% if failed_test.is_flaky %}<span class="badge bg-warning text-dark">Flaky</span>{% endif %}
                    <span class="font-monospace">{{ failed_test.ref }}</span><span class="ms-2 text-secondary">{{ failed_test.comment }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% else %}
          <div class="card">
            <div class="card-body text-center text-secondary">
              No Integration Suite runs found, please check access to GitLab instance
            </div>
          </div>
        {% endfor %}
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='app.js') }}></script>
  </body>
</html>
