<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon" />
    <link rel="icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
          rel="stylesheet" />
    <title>iSuite Dashboard | PSD-Sanger</title>
    <style>
      .body-bg {
        background-color: #9921e8;
        background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
      }
      .font-lato {
        font-family: "Lato", sans-serif;
      }
      .text-shadow {
        text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1.0);
      }
      .status-success {
        color: #10b981;
      }
      .status-failed {
        color: #ef4444;
      }
      .status-in-progress {
        color: #f59e0b;
      }
      .status-canceled {
        color: #6b7280;
      }
      .status-running {
        color: #3b82f6;
      }
    </style>
    <script src="https://cdn.tailwindcss.com/3.4.4"></script>
  </head>
  <body class="font-lato body-bg min-h-screen pt-12 lg:pt-20 pb-6 px-2 lg:px-0">
    <main class="bg-white mx-auto p-8 lg:p-12 my-10 rounded-lg shadow-2xl">
      <div class="container mx-auto">
        <h1 class="text-4xl font-bold my-5">Integration Suite Runs</h1>
        <table class="table-auto w-full">
          <thead>
            <tr>
              <th class="text-start">Created At</th>
              <th class="text-start">Pipeline</th>
              <th class="text-start">Int-Suite branch</th>
              <th class="text-start">Sequencescape Branch</th>
              <th class="text-start">Limber Branch</th>
              <th class="text-start">Result</th>
              <th class="text-start">Failures</th>
            </tr>
          </thead>
          <tbody>
            {% for pipeline in pipelines %}
              <tr class="align-top">
                <td>{{ pipeline.createdAt | replace('T', ' ') | truncate(16, True, '') }}</td>
                <td>
                  <a href="https://gitlab.internal.sanger.ac.uk/psd/integration-suite/-/pipelines/{{ pipeline.id }}"
                     class="underline">{{ pipeline.id }}</a>
                </td>
                <td>
                  <code><span class="text-shadow" style="color: #{{ pipeline.commit_abbr }};">{{ pipeline.commit_abbr }}</span>@{{ pipeline.ref | truncate(20, True) }}</code>
                </td>
                <td>
                  <a href="{{ pipeline.versions.sequencescape_url }}">
                    <code>{{ pipeline.versions.sequencescape_version | truncate(20, True) }}</code>
                  </a>
                </td>
                <td>
                  <a href="{{ pipeline.versions.limber_url }}">
                    <code>{{ pipeline.versions.limber_version | truncate(20, True) }}</code>
                  </a>
                </td>
                <td>
                  <span class="status-{{ pipeline.status | lower }}">{{ pipeline.status | title }}</span>
                </td>
                <td>{{ pipeline.failed_tests_html }}</td>
              </tr>
            {% else %}
              <tr>
                <td colspan="6" class="text-center text-gray-500">
                  No Integration Suite runs found, please check access to GitLab instance
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
